.container{
    height: 40rem;
   background-color: rgb(0, 0, 0);
   width: 100%;
   color: white;
    /* padding-left: 5rem;
    padding-right: 5rem; */
   
}

.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 100%;
    width: 100%;
    position: relative;
}

.date{
    width: 33%;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.date p{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 6rem;
}

.date h2{
    font-size: 4rem;
    font-family: 'Caudex',sans-serif;
    margin-left: 6rem;
    margin-bottom: 0;
}

.ringWrap{
    width: 33%;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.ring{
    width: 8rem;
    height: 8rem;
    margin-bottom: 7rem;
}

.info{
    
    width: 33%;
    display: flex;
    flex-direction: column;
    height: 80%;
    row-gap: 0.5rem;
    
}

.infoHeader{
    margin-top: 4rem;
    margin-right: 6rem;
    font-size: 1.5rem;
    font-family: 'Caudex',sans-serif;
    word-spacing: 0.3rem;
    width: 91%;
    height: 20%;
}

.para{
    text-align: justify;
    width: 73%;
    word-spacing: 0.2rem;
    line-height: 1.8rem;
    text-overflow: inherit;
    height: 50%;
    
}

@media  (max-width: 600px){
    .container{
        height: 70rem;
    }
    .wrapper{
        flex-direction: column;
        justify-content: normal;
        height: 80%;
    }

    .date{
        height: 20%;
        margin-top: 4rem;
        width: 81%;
        text-align: center;
    }


    .ringWrap{
        height: 20%;
    }

    .info{
        height: 33%;
        width: 81%;
        justify-content: space-around;
        row-gap: 0;
    }

    .infoHeader{
        font-size: 1.3rem;
        text-align: justify;
        margin: 0;
        height: 20%;
        width: 100%;
    }

    .date h2{
        font-size: 2rem;
        margin:0
    }

    .date p{
        margin:0;
        text-align: center;
        margin-top:2rem
    }

    .ring{
        width: 4rem ;
        height:4rem;
        margin: 0;
    }

    .para{
      padding-right: 0;
      width: 100%;
    }
}