.container {
  height: 30rem;
  background-color: white;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sec1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qaSect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  row-gap: 3rem;
}

.qaButton {
  width: 25%;
  height: 3rem;
  background-color: rgb(255, 174, 0);
  border-radius: 2rem;
  border: solid black 1px;
  font-size: 1.5rem;
  font-family: "Caudex", sans-serif;
}
.sec1 h6 {
  margin: 0;
  font-size: 3.6rem;
  font-family: "Caudex", sans-serif;
  font-weight: 400;
}

.sec2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorSect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    row-gap: 1rem;
    width: 100%;
}

.sec2 h6 {
    margin: 0;
    font-size: 3.8rem;
    font-family: 'Caudex', sans-serif;
    font-weight: 400;
}

.dotWrapper{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.dot1,.dot2,.dot3{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    box-shadow: 0 21px 5px rgb(0 0 0 / 0.2);
    
}

.dot1{
    background-color: black;
}

.dot2{
    background-color: rgb(255, 174, 0);
}

.dot3{
    background-color: #fbdfbb;
}

@media  (max-width: 600px){
.container{
  height: 38rem;
}


  .wrapper{
    flex-direction: column;
  }

  .sec1{
    margin-top: 1rem;
    width: 100%;
    height: 50%;
  }

  .qaSect{
    width: 90%;
  }
  .sec1 h6{
    font-size: 2.4rem;
  }

  .sec2{
    text-align: right;
    width: 100%;
  }

  .colorSect{
    width: 90%;
    
  }

  .colorSect p{
    font-size: 0.93rem;
    width: 100%;
    text-align: right;
  }

  .sec2 h6{
    font-size: 2.4rem;
    text-align: right;
    margin-left: 5.6rem;
  }

  .dotWrapper{
    width: 90%;
    margin-left: 3rem;
  }
}