.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 3rem;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../assets/pngs/pw7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 40%;
  object-fit: fill;
  margin-bottom: 0.2rem;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
  color: white;
 
  
}

.headerText {
  font-family: "NoMark", sans-serif;
  border: 1px white solid;
  border-radius: 10px;
  font-size: 3rem;
  padding: 1rem;
  border-bottom-style: none;
  padding-bottom: 0;
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.bridegroom {
  font-size: 8rem;
  font-family: "NoMark", sans-serif;
  text-align: center;
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hashtag {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 1.4rem;
  margin-top: 0;
  padding: 0;
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.dateContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-top: 2rem;
  text-align: center;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 2rem;
}

.dateWrapper,
.state {
  font-weight: 500;
  font-weight: bold;
  color: black;
}

.vl {
  border-left: 2px solid black;
  height: 3rem;
}

@media (max-width: 600px) {
  .headerText {
    font-size: 1.6rem;
  }
  .bridegroom {
    font-size: 4.5rem;
  }

  .hashtag {
    letter-spacing: 0.5rem;
  }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}