.container{
    width: 100%;
    height: 38rem;
    background-color: rgb(255, 251, 246);
    margin-bottom: 0.2rem;
}

.wrapper{
    display: flex;
}

.storyText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    row-gap: 0rem;
    width: 60%;
    text-wrap: nowrap;
}

.storyText div{
    font-family: 'Caudex', sans-serif;
    font-size: 3.7rem;
    margin: 0;
    text-align: left;
    width: 50%;
    line-height: 4rem;
}

.dinner{
  text-align: justify;
    white-space: wrap;
  width: 50%;
  height: 20%;
  font-family: 'Caudex', sans-serif;
  font-size: 1.3rem;
  word-spacing: 0.0rem;
  line-height: 2rem;
  margin-top: 2.7rem;
}

.storyFacts{
    width: 50%;
    font-size: 0.9rem;
    font-weight: 300;
    font-style: italic;
}

.factLink{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: rgb(177, 135, 9);
}


.storyImgWrapper{
    
    width: 40%;
}

.storyImg{
    height: 38rem;
    width: 100%;
    min-width: 30%;
    vertical-align: middle;
    object-fit: cover;
}


@media  (max-width: 600px){
    .container{
        height: 54rem;
    }
    .wrapper{
        flex-direction: column;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        margin: auto;        
    }

    .dinner{
        padding: 0;
        width: 90%;
        font-size: 1.3rem;
        white-space: wrap;
        
    }

    .storyImgWrapper{
        width: 100%;
    }

    .storyImg{
        height: 30rem;
        width: 100%;
    
    }

    .storyText{
        width: 100%;
    }

    .storyFacts{
        width: 90%;
        margin-top: 4rem;
    }

    .storyText div{
        font-size: 2rem;
        margin-top: 2rem;
        line-height: 1.8rem;
        width: 90%;
    }
}