.container{
    width: 100%;
    position: relative;
    margin: auto;
    height: 56rem;
    padding-top: 8rem;
}


.wrapper{
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 6rem;
    margin-right: 6rem;
    position: relative;
    top: -7rem;
}

.sec1,.sec2{
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    
    top: -8rem;
    position: relative;
}

.imgWrapper{
    position: relative;
    
    
}

.img{
    height: 735px;
    width: 490px;
    
}


.headerText, .para{
    text-align: center;
}

.headerText{
    font-family: 'Caudex', sans-serif;
    font-size: 3.8rem;
}

.para{
   font-size: 1rem;
}


@media  (max-width: 600px){
    .container{
        height: 78rem;
    }
    .wrapper{
        flex-direction: column;
        align-items: center;
    }


    .img{
        height: 475px;
        width: 320px;
        object-position: 50% 50%
    }

    .headerText{
        font-size: 2.1rem;
    }
    
    .sec1{
        padding-bottom: 2rem;
    }
}